.header {
  border-bottom: 1px solid var(--badges);
  background-color: var(--inputs);
}

.headerNav {
  display: flex;
  align-items: center;
  column-gap: 450px;
  padding: 24px 0;
}

.headerNavList {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  column-gap: 32px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.logo {
  cursor: pointer;
}

.linkActive {
  color: var(--button-hover);
}
