h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

html {
  overflow-y: scroll;
}
